/* Styles pour la section de détail du livre */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    margin: -10px;
    z-index: 2; /* Assure que le header est au-dessus de l'image */
    background: linear-gradient(120deg, #2d033b, #000000);
    ;
    width: auto;
    height: 4.5rem;
}

/* Logo à gauche */
.logo img {
    height: 60px;
    width: auto;
    border-radius: 50%;
}

/* Navigation à droite */
.navigation ul {
    display: flex;
    list-style: none;
    gap: 30px;
}

.navigation a {
    color: #F8F8F8; /* Texte blanc cassé */
    text-decoration: none;
    font-size: 1.1rem;
    transition: color 0.3s ease;
}

.navigation a:hover {
    color: #D3B88C; /* Beige sur survol */
}

i {
    color: white;
}

.user-icon.authenticated i {
    margin-left: 10px;
}

.user-icon.authenticated span {
    color: white;
    font-family: "Crimson Pro", serif
}

.detail-livre {
    padding: 20px;
    border-radius: 10px;
    max-width: 800px;
    margin: 40px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.detail-livre h2 {
    font-family: 'Special Elite';
    font-size: 3rem;
    text-align: center;
    margin-bottom: 2.5rem;
}

.photo-date {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.photo-date img {
    height: 600px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    margin-bottom: 0.5rem
}

.photo-date p {
    font-size: 1rem;
    line-height: 1.5;
    font-weight: bold;
}

.synopsis {
    font-size: 1.1rem;
    line-height: 1.6;
    text-align: justify;
    margin-top: 20px;
}

.connexion {
    text-align: center;
    margin-top: 20px;
}

.connexion p {
    font-size: 1rem;
    margin: 20px 0;
}

.connexion a {
    color: #D3B88C; /* Beige */
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.commentaire-container {
    background-color: white;
    color: black;
    padding: 20px;
    border-radius: 10px;
    max-width: 800px;
    margin: 40px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.commentaire-container h3 {
    width: auto;
    text-align: center;
    font-family: 'Special Elite';
    font-size: 1.4rem;
    margin-bottom: 20px;
}

.commentaire-container form {
    margin-bottom: 20px;
}

.commentaire-container textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #555;
    background-color: white;
    color: black;
    margin-bottom: 10px;
    font-family: 'Crimson Pro', serif;
    font-size: 1rem;
}

.commentaire-container button[class="publier"] {
    display: block;
    margin: 0 auto;
    background-color: #8B0000;
    color: #F8F8F8;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.commentaire-container button[type="publier"]:hover {
    background-color: #D3B88C;
}

.commentaire-container button[class="supprimer"] {
    background-color: #8B0000;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.commentaires ul {
    list-style: none;
    padding: 0;
}

.commentaires li {
    background-color: white;
    border: 1px solid #555;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.commentaires .username {
    font-family: 'Special Elite';
    color: black;
    font-size: 1.1rem;
}

.commentaires .date {
    font-size: 0.8rem;
    color: #555;
}

.commenraires .contenu {
    font-family: 'Crimson Pro', serif;
    font-size: 1rem;
    line-height: 1.5;
    margin-top: 10px;
}

@media (max-width: 768px) {
    .photo-date {
        flex-direction: column;
        align-items: center;
    }

    .photo-date img {
        margin-bottom: 10px;
    }

    .commentaire-container {
        padding: 15px;
    }
}
