/* Règles générales  */

body {
  font-family: "Crimson Pro", serif;
  background-color: #f8f9fa;
  color: black;
  font-size: 1rem;
  line-height: 1.5;
  text-align: left;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  margin: 6rem 4rem 0 4rem;
}

