{% extends 'bibliographie/base.html' %}
{% load static %}

{% block title %}L.A Noir - Accueil{% endblock %}

{% block content %}
<section class="biographie">
    <h2>Découvrez l'histoire du maitre du roman noir.</h2>
    <div class="photo-et-texte">
        <img src="{% static 'images/james_ellroy.jpg' %}" alt="Photo de James Ellroy">
        <p>
            James Ellroy est un romancier américain célèbre pour ses romans noirs et thrillers policiers. Ses œuvres, souvent sombres et épiques, dépeignent les côtés les plus obscurs de la société américaine. Parmi ses romans les plus connus, on trouve "Le Dahlia noir", "L.A. Confidential" et "American Tabloid".
        </p>
    </div>
</section>

<section class="liste-livres">
    <h2>Liste des Livres de James Ellroy</h2>
    <div class="livres-container">
        {% for livre in livres %}
            <div class="livre-carte">
                {% if livre.couverture %}
                    <img src="{{ livre.couverture.url }}" alt="Couverture de {{ livre.titre }}">
                {% endif %}
                <h3>{{ livre.titre }}</h3>
                <p><strong>Date de publication :</strong> {{ livre.date_publication }}</p>
                <p>{{ livre.description|truncatewords:20 }}</p>
                <a href="{% url 'detail_livre' livre.pk %}">Voir plus de détails</a>
            </div>
        {% endfor %}
    </div>
</section>
{% endblock %}
